<div class="main">
  <div class="bg-img">
    <!-- <nav class="navbar navbar-default navbar-fixed-top navClass" > -->
    <app-header-forhome></app-header-forhome>
    <!-- </nav> -->
    <br/>
    <div style="float: right">
      <button id=loginBtn mat-raised-button routerLink="/login">LogIn</button>
      <!-- <button id=signUpBtn mat-raised-button routerLink="/signUp">SignUp</button> -->
    </div>
  </div>

  <br/>
  <div class="container" style="text-align: center;width: 50%">
    <h1 style="color: rgba(0, 128, 0, 0.76);font-style:oblique;font-size: 50px">Innovative Way Of Waste Management System</h1>
    <br/>
    <p style=" color:rgba(0, 0, 0, 0.822);font-style:oblique;align-content: center;font-size: 20px">TrashTalks is redefining
      the way waste is managed. Our solution combines ultrasonic fill-level Smart Sensors that monitor waste in real-time
      with the help of sophisticated software. TrashTalks provides both cities and businesses with analytics that can be
      used for data-driven decision making in the optimization of waste collection routes, pick-up frequencies, and vehicle
      loads.</p>
  </div>
  <br/><br/><br/>
  <div class="row">
    <div class="col-md-5 col-sm-12 left">
      <div>
        <img src="https://firebasestorage.googleapis.com/v0/b/pwms-db.appspot.com/o/management-system-1_1082px.png?alt=media&token=71e6316e-16d3-4049-b496-af2db5b9c663"
          style="width: 100%;height: auto">
      </div>
    </div>

    <div class="col-md-5 col-md-offset-1 right">
      <div>
        <h1 style="color:rgba(0, 128, 0, 0.76);text-align:left;font-style:oblique;font-size: 30px">Smart Waste Management
          System</h1>
        <br/>
        <p style=" color:rgba(0, 0, 0, 0.822);text-align:left;font-style:oblique;font-size: 20px">The powerful cloud-based
          platform enables the customer to configure, monitor and manage daily waste management. In addition to real-time
          waste monitoring, the tool can also plan the optimal collection routes and semi-automate navigation.</p>
      </div>
    </div>
  </div>
</div>
<app-footer></app-footer>
