<div class ="bg-img">
  <app-header-forhome></app-header-forhome>
<br/>
</div>
<br/><br/>
<div class="row">
  <div class =" col-md-offset-2  col-md-5 left">
    <div>
      <h1 style="color: rgba(0, 128, 0, 0.76);font-style:oblique;font-size: 30px">Smart Public Bin Management</h1>
      <br/>
      <p style=" color:rgba(0, 0, 0, 0.822);font-style:oblique;align-content: center;font-size: 20px">TrashTalks smart waste management technology uses a variety of TrashTalks Smart Sensors , including patent-pending Micro-sensors, where the beams of the sensor can be positioned in the most optimal way; open APIs, advanced analytics and leveraging mesh-network topology. It’s this unique combination that provides the intelligence of the solution so that it is easily customizable for any network (GSM, NB-IoT, LoRaWAN, SIGFOX or 4G LTE wireless technologies) and through real-time data monitoring and analyses, provides better information that helps to avoid collecting empty or half-empty waste bins.</p>
    </div>
  </div>
  <div class ="col-md-5 right">
    <div>
      <img class="img-fluid" src="https://firebasestorage.googleapis.com/v0/b/pwms-db.appspot.com/o/download.jpg?alt=media&token=030dfb22-d6b7-4263-9f07-d4ca187f73b9">
    </div>
  </div>
</div>
<br/>
  <br/>
<div class="row">
  <div class="col-md-5 left ">
     <div style="float:right">
       <img class="img-fluid" src="https://firebasestorage.googleapis.com/v0/b/pwms-db.appspot.com/o/service-icons-01_3_orig.png?alt=media&token=10e8435f-01ff-4dad-8469-60f28fcf10c2">
     </div>
  </div>

  <div class =" col-md-offset-2  col-md-5 ">
      <div style="float:left">
        <h1 style="color: rgba(0, 128, 0, 0.76);font-style:oblique;font-size: 30px">Overall Waste Collection Cost Reduction Of At Least 30%</h1>
        <br/>
        <p style=" color:rgba(0, 0, 0, 0.822);font-style:oblique;align-content: center;font-size: 20px">Thanks to real-time monitoring, Smart Analytics and Smart Route Planning, cities are able to rely on data-driven decision-making to achieve a collection cost reduction of at least 30%, by optimizing the collection routes, pick-up frequency and vehicle loads.</p>
      </div>
    </div>
</div>
<br/><br/><br/>
<app-footer></app-footer>
